{% load static %}
<html class="no-js">

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Big Web Studio</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Poppins:100,300,400,400italic,500,700,700italic'>

    <!-- CSS -->
    <link rel='stylesheet' href="{% static 'assets/css/global.css' %}">
    <link rel='stylesheet' href="{% static 'assets/css/structure.css' %}">
    <link rel='stylesheet' href="{% static 'assets/css/company3.css' %}">
    <link rel='stylesheet' href="{% static 'assets/css/custom.css' %}">
    <link rel='stylesheet' href="{% static 'assets/css/style-demo.css' %}">
    <link rel='stylesheet' href="{% static 'assets/css/footer.css' %}">

</head>

<body class="color-custom style-default button-flat layout-full-width if-zoom if-border-hide no-content-padding no-shadows header-transparent minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-title-left menu-link-color menuo-right menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-ll be-reg-20954">
    <div id="Wrapper">
        <div id="Header_wrapper" class="bg-parallax" data-enllax-ratio="0.3">
            <header id="Header">

               <div id="Top_bar" style="height: 50px;">
                    <div class="container">
                        <div class="column one">
                            <div class="top_bar_left clearfix" style="margin-top: 0px;">
                                <div class="logo">
                                    <a id="logo" style="height: 95px;" href="/" title="Big Web Studio">
                                        <img class="logo-main scale-with-grid" src="{% static 'assets/images/company.png' %}" data-retina="{% static 'assets/images/company.png' %}" alt="Big Web Studio">
                                        <img class="logo-sticky scale-with-grid" src="{% static 'assets/images/company.png' %}" data-retina="{% static 'assets/images/company.png' %}" alt="Big Web Studio">
                                        <img class="logo-mobile scale-with-grid" src="{% static 'assets/images/company.png' %}" data-retina="{% static 'assets/images/company.png' %}" alt="Big Web Studio">
                                        <img class="logo-mobile-sticky scale-with-grid" src="{% static 'assets/images/company.png' %}" data-retina="{% static 'assets/images/company.png' %}" alt="Big Web Studio">
                                    </a>
                                </div>
                                 <div class="menu_wrapper">
                                    <nav id="menu">
                                        <ul id="menu-main-menu" class="menu menu-main">
                                            <li class="menu-item type-custom object-custom">
                                            <a href="/"><span>HOME</span></a>
                                        </li>
<!--                                        <li class="menu-item type-custom object-custom">-->
<!--                                            <a href="#about"><span>WHAT WE DO</span></a>-->
<!--                                        </li>-->
<!--                                        <li class="menu-item type-custom object-custom">-->
<!--                                            <a href="#services"><span>SERVICES</span></a>-->
<!--                                        </li>-->
<!--                                         <li class="menu-item type-custom object-custom">-->
<!--                                            <a href="#team"><span>OUR TEAM</span></a>-->
<!--                                        </li>-->
<!--                                        <li class="menu-item type-custom object-custom">-->
<!--                                            <a href="#choose"><span>WHY CHOOSE US</span></a>-->
<!--                                        </li>-->
<!--                                        <li class="menu-item type-custom object-custom">-->
<!--                                            <a href="#portfolio"><span>PORTFOLIO</span></a>-->
<!--                                        </li>-->
<!--                                        <li class="menu-item type-custom object-custom">-->
<!--                                            <a href="#testimonials"><span>TESTIMONIALS</span></a>-->
<!--                                        </li>-->
<!--                                        <li class="menu-item type-custom object-custom">-->
<!--                                            <a href="contact.html"><span>GET IN TOUCH</span></a>-->
<!--                                        </li>-->
                                        </ul>
                                    </nav>
                                    <a class="responsive-menu-toggle" href="#">
                                        <i class="icon-menu-fine"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div id="Subheader" style="padding:240px 0 140px;">
                <div class="container">
                    <div class="column one">
                        <h1 class="title" style="color: #9932CC;">marketing</h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="entry-content">
                        <div class="section mcb-section" style="padding-top:100px; padding-bottom:60px; background-color:#f8f8f8">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one valign-top clearfix">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_divider ">
                                            <hr class="no_line" style="margin:0 auto 40px">
                                        </div>
                                        <div class="column mcb-column three-fourth column_column">
                                            <div class="column_attr clearfix">
                                                <h3>Vivamus in diam turpis. In condimentum maximus tristique. Maecenas non.</h3>
                                                <p>
                                                    ellentesque lorem augue, fermentum nec nibh et, fringilla sollicitudin orci. Integer pharetra magna non ante blandit lobortis. Sed mollis consequat eleifend.
                                                </p>
                                                <p>
                                                    Sed ultrices nisl velit, eu ornare est ullamcorper a. Nunc quis nibh magna. Proin risus erat, fringilla vel purus sit amet, mattis porta enim. Duis fermentum faucibus est, sed vehicula velit sodales vitae. Mauris mollis lobortis turpis, eget accumsan
                                                    ante aliquam quis.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section flv_sections_23">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- Page Title-->
                                    <!-- One full width row-->
                                    <div class="column one column_fancy_heading">
                                        <div class="fancy_heading fancy_heading_icon">
                                            <span class="icon_top"><i class="icon-layout"></i></span>
                                            <h2 class="title">Choose Your Plan</h2>
                                            <div class="inside">
                                                <span class="big">Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_pricing_item">
                                        <div class="pricing-box pricing-box-label">
                                            <div class="plan-header">
                                                <h2>Basic</h2>
                                                <div class="price">
                                                    <sup class="currency">$</sup><span>12</span><sup class="period">/ monthly</sup>
                                                </div>
                                                <hr class="hr_color" />
                                                <p class="subtitle">
                                                    <span class="big">Vitae adipiscing turpis. Aenean ligula nibh, molestie id vivide.</span>
                                                </p>
                                            </div>
                                            <div class="plan-inside">
                                                <ul>
                                                    <li>
                                                        <i class="icon-drive"></i> Disc space
                                                    </li>
                                                    <li>
                                                        <i class="icon-users"></i> Number of users
                                                    </li>
                                                    <li>
                                                        <i class="icon-globe"></i> Bandwidth
                                                    </li>
                                                    <li>
                                                        <i class="icon-lifebuoy"></i> Support included
                                                    </li>
                                                    <li>
                                                        <i class="icon-database"></i> MySQL Databases
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="plan-footer">
                                                <a href="#" class="button button_left button_js"><span class="button_icon"><i class="icon-basket"></i></span><span class="button_label">Sign up now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_pricing_item">
                                        <div class="pricing-box pricing-box-table">
                                            <div class="plan-header">
                                                <h2>Standard</h2>
                                                <div class="price">
                                                    <sup class="currency">$</sup><span>29</span><sup class="period">/ monthly</sup>
                                                </div>
                                                <hr class="hr_color" />
                                                <p class="subtitle">
                                                    <span class="big">Vitae adipiscing turpis. Aenean ligula nibh, molestie id vivide.</span>
                                                </p>
                                            </div>
                                            <div class="plan-inside">
                                                <ul>
                                                    <li>
                                                        up to 10GB
                                                    </li>
                                                    <li>
                                                        5
                                                    </li>
                                                    <li>
                                                        10GB
                                                    </li>
                                                    <li>
                                                        <span class="no"></span>
                                                    </li>
                                                    <li>
                                                        up to 10
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="plan-footer">
                                                <a href="#" class="button button_left button_theme button_js"><span class="button_icon"><i class="icon-basket"></i></span><span class="button_label">Sign up now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_pricing_item">
                                        <div class="pricing-box pricing-box-featured pricing-box-table">
                                            <div class="plan-header">
                                                <h2>Business</h2>
                                                <div class="price">
                                                    <sup class="currency">$</sup><span>39</span><sup class="period">/ monthly</sup>
                                                </div>
                                                <hr class="hr_color" />
                                                <p class="subtitle">
                                                    <span class="big">Vitae adipiscing turpis. Aenean ligula nibh, molestie id vivide.</span>
                                                </p>
                                            </div>
                                            <div class="plan-inside">
                                                <ul>
                                                    <li>
                                                        up to 30GB
                                                    </li>
                                                    <li>
                                                        15
                                                    </li>
                                                    <li>
                                                        100GB
                                                    </li>
                                                    <li>
                                                        <span class="yes"></span>
                                                    </li>
                                                    <li>
                                                        Unlimited
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="plan-footer">
                                                <a href="#" class="button button_left button_theme button_js"><span class="button_icon"><i class="icon-basket"></i></span><span class="button_label">Sign up now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_pricing_item">
                                        <div class="pricing-box pricing-box-table">
                                            <div class="plan-header">
                                                <h2>Professional</h2>
                                                <div class="price">
                                                    <sup class="currency">$</sup><span>49</span><sup class="period">/ monthly</sup>
                                                </div>
                                                <hr class="hr_color" />
                                                <p class="subtitle">
                                                    <span class="big">Vitae adipiscing turpis. Aenean ligula nibh, molestie id vivide.</span>
                                                </p>
                                            </div>
                                            <div class="plan-inside">
                                                <ul>
                                                    <li>
                                                        up to 100GB
                                                    </li>
                                                    <li>
                                                        Unlimited
                                                    </li>
                                                    <li>
                                                        500GB
                                                    </li>
                                                    <li>
                                                        <span class="yes"></span>
                                                    </li>
                                                    <li>
                                                        Unlimited
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="plan-footer">
                                                <a href="#" class="button button_left button_theme button_js"><span class="button_icon"><i class="icon-basket"></i></span><span class="button_label">Sign up now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

          <!-- Footer START-->
    <div class="footer">
    <div class="inner-footer flex">
            <div class="container">
                <div class="column two-third">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <h1  style="font-weight:500px; font-size: 50px; color: white; text-align: left;">
                                BigWeb Studio
                            </h1>
                            <hr class="no_line" style="margin:0 auto 20px">
                            <div class="column one-second">
                                <span style="text-align: right; color:#FFD961;">
                                    Level 13, 2 Elizabeth St,
                                    <br> Melbourne, Victoria 3000,
                                    <br> Australia
                                </span>
                            </div>
                            <div class="column one-second">
                                <span>
                                    <a href="mailto:bigwebstudio@gmail.com">
                                        <span style="color: #FFD961;">bigwebstudio.com@gmail.com</span></a>

                                </span>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="column one-third">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                                <div style="text-align: center; margin-top: 35px;">
                                    <div class="image_frame image_item scale-with-grid alignnone no_border hover-disable">
                                        <div class="image_wrapper">
                                            <a href="#">
                                                <img class="scale-with-grid" src="{% static 'assets/images/facebook.jpg' %}">&nbsp;
                                                <img class="scale-with-grid" src="{% static 'assets/images/instagram.png' %}">&nbsp;
                                                <img class="scale-with-grid" src="{% static 'assets/images/twitter.png' %}">
                                            </a>

                                        </div>
                                    </div>
                                    <hr class="no_line" style="margin:0 auto 90px">
                                     <a class="button button_size_2 button_js" href="#contact-us" style="color:#fff;">
                                    <span class="button_label">CONTACT US</span></a>
                                </div>
                            </div>
                    </aside>
                </div>
            </div>
    </div>

    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <!--Waves end-->

</div>
<div class="info flex">
     <div class="column one">
    <a id="back_to_top" class="button button_js" href><i class="icon-up-open-big"></i></a>
    <span> &copy; BigWeb Studio</span>
     </div>
</div>

<!-- Footer END -->

 <!-- side menu -->
    <div id="Side_slide" class="right dark" data-width="250">
        <div class="close-wrapper">
            <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
        </div>
        <div class="menu_wrapper"></div>
    </div>
    <div id="body_overlay"></div>
</div>
<!-- side menu END-->


<!-- contact us widget-->
<div id="mfn-demo-panel">
			<a class="control" href="#" style="height:50px;">
                <i class="icon-phone faa-flash animated"></i>Contact Us</a>
			<div id="contact-us" class="inside" style="background-image:url({% static 'assets/images/home_company3_slider_pic5.png' %});">
						<h4 style="text-align:center; color: white; padding-top: 50px;">Feel Free to talk to us!</h4>
                                <div class="wrap mcb-wrap one valign-top clearfix" style="padding-top:80px; text-align:center;">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_column">
                                            <div class="column_attr clearfix">
                                                <h2 style="color:#ffd961;">
                                                    CONTACT US
                                                </h2>
                                                <h4 style="color:white;">Get in touch with us</h4>
                                                <hr class="no_line" style="margin:10px;">
                                                <p>
                                                    <i class="icon-call" style="color:red;"></i>  +61 (0) 7 8392 2948
                                                </p>
                                                <p>
                                                    <i class="icon-mail" style="color:cyan;"></i>  
                                                    <a href="#">bigwebstudio@gmail.com</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one column_button">
                                            <a class="button button_size_4 button_dark button_js " style="color:#ffd961;" href="mailto:bigwebstudio@gmail.com"><span class="button_label">Send a message</span></a>
                                        </div>
                                    </div>
                                </div>
            </div>
</div>

<!-- Contact us widget END-->


   <!-- JS -->
    <script src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>

    <script src="{% static 'assets/js/mfn.menu.js' %}"></script>
    <script src="{% static 'assets/js/jquery.plugins.js' %}"></script>
    <script src="{% static 'assets/js/jquery.jplayer.min.js' %}"></script>
    <script src="{% static 'assets/js/animations/animations.js' %}"></script>
    <script src="{% static 'assets/js/translate3d.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>


     {% block end %}
      {% endblock %}
</body>


<!-- Mirrored from be.beantownthemes.com/html/content/company3/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 19 May 2020 05:10:50 GMT -->
</html>